%h1= I18n.t("pages.fights.index.list_of_fights")

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= I18n.t("pages.fights.index.first_player")
      %th= I18n.t("pages.fights.index.second_player")
      %th
      %th

  %tbody
    - @fights.each do |fight|
      %tr
        %td
          = fight.characters.first.name
          - if fight.winner == fight.characters.first
            %span.badge.bg-info
              = I18n.t("pages.fights.index.winner")
        %td
          = fight.characters.last.name
          - if fight.winner == fight.characters.last
            %span.badge.bg-info
              = I18n.t("pages.fights.index.winner")
        %td
          = fight.created_at.strftime("%D %H:%M")
        %td= link_to I18n.t("pages.fights.show.recap"), fight_path(fight)
