%html
  %head
    %meta{charset: 'utf-8'}/
    %title
      Jobs
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        = link_to "CaptainContrat Jobs", root_path, class: "navbar-brand"
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            %li.nav-item
              %a.nav-link.active{"aria-current" => "page", :href => "#"} Personnages
            %li.nav-item
              %a.nav-link{:href => "#"} Historique
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                Equipements
              %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %li
                  %a.dropdown-item{:href => "#"} Armes
                %li
                  %a.dropdown-item{:href => "#"} boucliers
    = yield
